<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>QRLoing_reproduce</title>
        <meta name="description" content="wechat like login demo">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/core.css">

        <style>

        	input:focus,
			select:focus,
			textarea:focus,
			button:focus {
			    outline: none !important;
			}

        	#allPosts {
			    resize: none;
			    font-size: 12px;
			    border-radius: 5px;
			    border: #ccc solid 1px;
			    line-height: 14px;
			    height:100px;
			    overflow: scroll;
			}

			p{
		    	margin:0;
		    	padding:0;
		    }

		</style>
    </head>
    <body>

	<!--[if lt IE 8]>
		<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->

    <div class="container">
    	<div class="jumbotron">
        	<h1>QRLoing reproduce</h1>
       		<p>wechat like login demo, but it is cool for demo</p>
       		<hr>
       		<div>
       			<a href="/qrlogin">QRCode SSO login</a>
       		</div>
		</div>
	</div>
    </body>
</html>